<main role="main" class="container px-3 py-3 pt-md-4 pb-md-4 mx-auto">
  <div class="row">
    <div class="col-md-12">
      <mydemo-cockpit
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"></mydemo-cockpit>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <mydemo-server-element 
      *ngFor="let serverElement of serverElements"
      [serverElement]="serverElement"></mydemo-server-element>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p myappBasicHighlight>This is basic directive</p>
      <p myappBetterHighlight></p>
    </div>
  </div>
</main>