<label for="">Server name: </label>
<!-- <input
  name=""
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->

<input
  name=""
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

  
<button 
  class="btn btn-primary" 
  [disabled]="!activeStatus"
  (click)="onCreateServer()">Add Server</button>

  
<p 
*ngIf="serverCreated" 
>{{servercreationStatus}}</p>

<!-- <myapp-server></myapp-server>
<myapp-server></myapp-server>
<myapp-server></myapp-server> -->

<myapp-server *ngFor="let server of servers"></myapp-server>